[submodule "app/web/themes/ananke"]
	path = apps/web/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "apps/web/themes/ananke"]
	path = apps/web/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
